.grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;

}

.responsive {
      margin-left: 75px;
      background-color: rgb(176, 249, 224);
      height: 600px;


}