.about-section {
      padding: 50px;
      text-align: center;
      color: rgb(0, 0, 0);
      font-size: 18px;
      font-weight: 400;
}


.about {
      margin: 40px;
      font-size: 30px;
      color: rgb(17, 6, 6);
      font-weight: 700;
      display: flex;
      padding: 10px;

}

.about img {
      width: 100%;
      height: 90%;

}

.about span {
      color: rgb(95, 127, 127);

}

.about p {
      margin-left: 50px;

}

.about .pera-text {
      font-weight: 400;
      font-size: 18px;
      margin-left: 50px;

}

.about-btn {
      color: #ffffff;
      background-color: rgb(55, 69, 81);
      padding: 10px 30px;
      border: none;
      cursor: pointer;
      font-size: 18px;
      font-weight: 600;
      border-radius: 10px;
      margin-left: 50px;

}