.nav {

      background-color: rgb(162, 169, 183);
      display: flex;
      align-items: center;
      justify-content: center;


}

.web-name {
      color: rgb(44, 53, 54);
      font-size: 30px;
      margin-right: 600px;
      font-weight: 700;

}

.link {
      color: rgb(50, 53, 69);
      text-decoration: none;
      font-size: 20px;
      margin-right: 20px;
      font-weight: 600;


}