.patient-info-text {
      color: rgb(188, 14, 75);
}


.patient-info-text p {
      color: #300703;
      font-size: 18px;
      font-weight: 600;
}


.patient-Data_View_box {
      position: absolute;
      left: 50%;
      top: 55%;
      transform: translate(-50%, -50%);
      background-color: rgba(240, 240, 240, 0.89);
      border-radius: 3px;
      padding: 0px 60px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}